<% if @feed_items.any? %>
   <div class="panel panel-default sombra pad">
      <ol class="microposts">
        <%= render @feed_items %>
      </ol>
      <%= will_paginate @feed_items %>
    </div>
<% end %>